<footer>
    <p>Todos os direitos reservados para <a target="_blank" href="https://github.com/thuliopv360"> Thulio Paiva </a>&copy</p>
    <p>Dados retirados de <a target="_blank" href="https://www.pokemon.com/br/">Pokedex</a></p>
</footer>