<header>
    <h1>Pokedex</h1>
    <nav>
        <ul id="container">
            <a href="/">
                <li>
                    Home
                </li>
            </a>
            <a href="/cadastro">
                <li>
                    Cadastro
                </li>
            </a>
        </ul>
    </nav>
</header>