<nav>
    <ul>
        <li><img src="/img/pokebola.png" alt="pokebola"></li>
        <li>
            <a href="/">
                <h1>Pokédex</h1>
            </a>
        </li>
        <li>
            <a href="#cadastro">Cadastro</a>
        </li>
        <li>
            <a href="#cards">Pokemons</a></li>
    </ul>
</nav>