<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/pokebola.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
    <title>Cadastro</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <h2>Cadastre um novo Pokemon! </h2>

        <form action="/create" method="POST">
            <label for="nome">Nome: </label>
            <input type="text" id="nome" name="nome">

            <label for="descricao">Descricao:</label>
            <input type="text" id="descricao" name="descricao">

            <label for="tipo">Tipo:</label>
            <input type="text" id="tipo" name="tipo">

            <label for="imagem">Link da imagem:</label>
            <input type="text" id="imagem" name="imagem">

            <button id="btnCadastrar" type="submit">Cadastrar</button>
        </form>
        <%- include('./partials/footer.ejs') %>

</body>

</html>