* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    padding: 3rem;
    height: 10%;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul#container a {
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

ul#container a li {
    color: #fff;
}

ul#container a li:hover {
    color: black;
}

header h1 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

main {
    margin: 0 10rem 0 10rem;
}

main h2 {
    text-align: center;
    padding-top: 1rem;
}

section#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1rem;
}

section#cards a:hover {
    transition: transform 1s;
    transform: translateX(0) scale(1.2);
}

main section#cards a {
    text-decoration: none;
    color: black;
}

section#cards div.card {
    width: 20rem;
    box-shadow: 5px 5px 5px #00000015;
    padding: 1rem;
    margin-top: 3rem;
}

section#cards div.card img {
    width: 100%;
}

section#cards div.card h2 {
    margin-bottom: 1rem;
}

section#cards div.card p.descricao {
    margin-bottom: 1rem;
}

section#cadastro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem;
}

section#cadastro h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 5rem;
}

section#cadastro form {
    width: 50%;
}

section#cadastro form input {
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
    outline: none;
    border: solid 2px rgb(197, 197, 197);
    margin: 0 1rem 1rem 1rem;
}

section#cadastro form label {
    margin: 1rem;
    color: rgb(148, 148, 148)
}

section#cadastro form button {
    padding: 0.6rem;
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1rem;
    background-color: #fff;
    border: solid 1px red;
    color: red;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

section#cadastro form button:hover {
    background-color: red;
    color: #fff;
}

footer {
    height: 10%;
    background-color: red;
}

body#detalhes main {
    height: 70%;
    padding: 1.5rem;
}

body#detalhes main img {
    width: 20rem;
}