* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
}

nav {
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: red;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    padding: 0.6rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

nav img {
    width: 3rem;
}

nav ul li h1 {
    color: #fff;
    font-size: 1.4rem;
}

header img {
    margin-top: 3rem;
    width: 100%;
}

ul#container a {
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

ul#container a li {
    color: #fff;
}

ul#container a li:hover {
    color: black;
}

header h1 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

main {
    margin: 0 10rem 0 10rem;
}

main h2 {
    text-align: center;
    padding-top: 1rem;
}

section#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1rem;
}

section#cards a:hover {
    transition: transform 1s;
    transform: translateX(0) scale(1.2);
}

main section#cards a {
    text-decoration: none;
    color: black;
}

section#cards div.card {
    border: red 1px solid;
    width: 20rem;
    box-shadow: 5px 5px 5px #00000015;
    padding: 1rem;
    margin: 3rem 0 5rem 0;
}

section#cards div.card:hover {
    border: rgb(246, 162, 162) 1px solid;
    transition: transform 1s;
    transform: translateX(0) scale(1.2);
}

section#cards h2 {
    width: 100%;
    text-align: center;
}

section#cards div.card img {
    width: 100%;
}

section#cards div.card h3 {
    margin-bottom: 1rem;
}

section#cards div.card a#editar {
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1rem;
    background-color: #fff;
    border: solid 1px #0077ff;
    color: #0077ff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    margin-top: 1rem;
}

section#cards div.card a#editar:hover {
    background-color: #0077ff;
    color: #fff;
}

section#cards div.card a#apagar {
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1rem;
    background-color: #fff;
    border: solid 1px red;
    color: #ff0000;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    margin-top: 1rem;
}

section#cards div.card a#apagar:hover {
    background-color: red;
    color: #fff;
}

section#cards div.card p.descricao {
    margin-bottom: 1rem;
}

section#cadastro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem;
}

section#cadastro h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 5rem;
}

section#cadastro form {
    width: 50%;
}

section#cadastro form input {
    width: 100%;
    padding: 0.7rem;
    font-size: 1rem;
    outline: none;
    border: solid 2px rgb(197, 197, 197);
    margin: 0 1rem 1rem 1rem;
}

section#cadastro form label {
    margin: 1rem;
    color: rgb(148, 148, 148)
}

section#cadastro form button {
    padding: 0.6rem;
    width: 20%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1rem;
    background-color: #fff;
    border: solid 1px red;
    color: red;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

section#cadastro form button:hover {
    background-color: red;
    color: #fff;
}

body#detalhes main {
    height: 70%;
    padding: 1.5rem;
}

body#detalhes main img {
    width: 20rem;
}

footer {
    background-color: red;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer p {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.3rem;
}

footer p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}